<h1><%= @product.title %></h1>
<p><strong>Price:</strong> $<%= @product.price %></p>
<p><strong>Description:</strong> <%= @product.description %></p>
<p><strong>Stock Qty:</strong> <%= @product.stock_quantity %></p>
<p><strong>Category:</strong></p> <%= product.category.name %>

<%= link_to "All Products", products_path %>